project:
  type: website

language: 
  search-text-placeholder: Search
  
website:
  title: "PsychGen Hub"
  site-url: "https://psychgen-test.netlify.app"
  description: "PsychGen Website"
  favicon: logo.png
  page-navigation: true
  back-to-top-navigation: true
  search: 
    location: navbar 
    type: textbox
    
  navbar:
    background: primary
    collapse-bellow: lg
    left:
      - text: "News"
        href: news.qmd
      - text: "Wiki"
        href: docs/psychgen_wiki/analysis_plan.qmd
      - text: "Data dictionary"
        href: docs/data_dictionary
      - text: "Data documentation"
      - text: "Github"
        href: https://github.com/psychgen
        target: _blank
      - text: "OSF"
        href: https://osf.io/6m9ec/
        target: _blank
    right: 
      - icon: rss
        href: news.xml
    tools:
      - icon: github
        menu: 
          - text: "Source Code"
            href: https://github.com/psychgen/psychgen-website
            target: _blank
            
  sidebar:
    - id: psychgen_wiki
    - title: "Wiki"
      align: left
      contents: 
        - "---"
        - section: "Analysis Plan and Preregistration"
          contents: 
            - text: "Analysis plan"
              href: docs/psychgen_wiki/analysis_plan.qmd
            - text: "Preregistration"
              href: docs/psychgen_wiki/preregistration.qmd
        - "---"
        - section: "Working in p471"
          contents:
            - text: "TSD"
              href: docs/psychgen_wiki/tsd_gettingstarted.qmd
            - text: "Code of conduct"
              href: docs/psychgen_wiki/data_gettingstarted.qmd
            - text: "Setting up a new analytical project"
              href: docs/psychgen_wiki/analytic_project.qmd
            - text: "Enabling Git in RStudio"
              href: docs/psychgen_wiki/git.qmd
            - text: "Using HPC"
              href: docs/psychgen_wiki/using_hpc.qmd
            - section: "Working with questionnaire data"
              contents:
                - text: "Using MoBa questionnaire and linked registry data"
                  href: docs/psychgen_wiki/pheno_data.qmd
                - text: "{phenotools} vignette"
                  href: docs/psychgen_wiki/pheno_vignette.qmd
            - section: "Working with genetic data"
              contents: 
                - text: "Using MoBa genetic data"
                  href: docs/psychgen_wiki/genetic_data.qmd
                - text: "{genotools} vignette"
                  href: docs/psychgen_wiki/geno_vignette.qmd
            - section: "Working with registry data"
        - "---"
        - section: "Exports, publications and reporting"
          contents: 
            - text: "Export"
              href: docs/psychgen_wiki/export.qmd
            - text: "Publication checklist"
              href: docs/psychgen_wiki/checklist.qmd
            - text: "Reporting to NVA"
              href: docs/psychgen_wiki/ReportingCristin.qmd 
        - "---"      
        - section: "Other resources"
          contents: 
            - text: "Logos"
              href: docs/psychgen_wiki/logos.qmd
          

  page-footer:
    background: light 
    right: This website is built with {{< fa heart title="a heart" >}}, [{{< fa brands r-project title="R Project" >}}](https://www.r-project.org/about.html){target=_blank} and [Quarto](https://quarto.org/){target=_blank}
  # margin-header: subscribe.html
      
format:
  html:
    theme: 
      - flatly
      - styles.scss
    toc: true
    page-layout: full
    mainfont: Cabin
    smooth-scroll: true
    grid: 
      sidebar-width: 250px
      body-width: 900px
      margin-width: 300px

editor: visual

execute:
  freeze: auto
